.gallery-list {
  display: flex;
  justify-content: space-between;
}

.gallery-list li:not(:last-child) {
  padding-right: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  margin-bottom: 0;
}

li {
  margin: 0;
  padding: 0;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
